section#advert-section {
    .grid-container {
        padding:60px 20px;
        text-align: center;
        @include breakpoint (small down) {
            padding:20px;   
        }
        .grid-x {
            max-width: 1200px;
            margin-left:auto;
            margin-right:auto;
            @include breakpoint (medium down) {
                flex-direction: column;
                text-align:center;
                .cell {
                    width: auto;
                    margin-top:20px;
                    margin-bottom:20px;
                }
            }
            h2 {
                margin-top:20px;
                margin-bottom:40px;
            }
            p {
                max-width: 300px;
                margin:20px auto;
            }
            &.cta {
                background-color:$primary-color;
                border-radius: 25px;
                padding:40px 40px 60px;
                max-width: 80%;
                margin:60px auto 20px;
                @include breakpoint (medium down) {
                    max-width: 100%;
                    padding:10px;
                    margin:20px auto;
                }
                h2,h3,h4 {
                    font-weight: bold;
                    margin-top:20px;
                }
                h2,h3,h4,p {
                    color:$white;
                }
                i {
                    color:$white;
                    margin-right:10px;
                    margin-left:10px;
                }
            }
        }
    }
}